/* mobile device */
@media screen and (max-width: 576px) {

    /* share style */
    .description-color {
        color: #534C64;
        font-size: 11px;
    }

    /* nav section */
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar .nav-title {
        justify-content: center;
        width: 100%;
    }

    .nav-bar .nav-container {
        flex-direction: column;
        margin-top: 30px;
    }

    .nav-container .follow-us-section {
        width: 220px;
    }

    /* banner section */
    .banner-section {
        background: none;
    }

    .banner {
        margin: 50px 0;
        gap: 50px;
        flex-direction: column-reverse;
    }

    .banner-description p {
        padding-top: 16px;
        font-size: 16px;
    }

    .banner-img img {
        width: 350px;
    }

    /* online game section */
    .online-game {
        max-width: 400px;
        margin: 0 auto;
    }

    .online-game-cards {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 58px;
    }

    .online-game-cards .card {
        margin-bottom: 50px;
    }

    /* play game section */
    .play-game {
        flex-direction: column-reverse;
        max-width: 450px;
        margin: 0 auto;
        padding: 50px;
        margin-left: 20px;
    }

    .play-game-images .play-game-img-2 {
        top: 80px;
        right: 50px;
    }

    .play-game-images {
        width: 100%;
        text-align: center;
        margin-left: 80px;
    }

    .play-game-content {
        width: 90%;
        text-align: center;
        margin-bottom: 30px;
    }

    .play-game-content h2 {
        font-size: 22px;
    }

    /* game zoom section */
    .game-zoon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 400px;
        margin: 30px auto;
    }

    .game-zoon .game-group {
        gap: 0px;
        width: auto;
        height: auto;
        padding: 5px 0;
        border-radius: 40px;
        background: #FFF;
        justify-content: space-evenly;
    }

    .game-zoon .game-group img {
        width: 20%;
        object-fit: cover;
        padding-right: 3px;
    }

    .game-zoon .game-group p {
        font-size: 10px;
        font-weight: 500;
    }

    .game-group:hover {
        border: 2px solid #FF42A5;
        color: #FF42A5;
    }

    /* footer section */
    .footer-section {
        margin-top: 50px;
        padding: 10px;
    }

    .footer-section .nav-title {
        padding-top: 30px;
    }
    .footer-section .nav-title h3 {
        font-size: 26px;
    }
    .footer-section .nav-title img {
            width: 60px;
            height: 26px;
        
    }

    .footer-section .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 16px;
        font-weight: 500;
    }

    .footer-section .services li {
        padding-left: 3px;
    }
    .footer-section .footer-icons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 40px 30px 20px 10px;
    }
    .footer-icons li {
        font-size: 30px;
    }

    .footer-section .terms-conditions {
        font-size: 15px;
        font-weight: 500;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .footer-section .terms-conditions li {
        padding-left: 10px;
    }
    .footer-section .copyright {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 30px;
    }

}


/* tablet device */
@media screen and (min-width:576px) and (max-width:992px) {

    /* share style */
    .description-color {
        color: #534C64;
        font-size: 11px;
    }

    /* nav section */
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar .nav-title {
        justify-content: center;

    }

    .nav-bar .nav-container {
        margin-top: 15px;
        gap: 30px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    /* banner section */

    .banner-section {
        background: none;
    }

    .banner {
        margin-top: 50px;
        gap: 50px;
        flex-direction: column-reverse;
    }

    .banner-img img {
        width: 500px;
    }

    /* online games section */
    .online-game-cards {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin-left: 60px;
    }

    .online-game-cards .card {
        margin-bottom: 40px;
    }

    /* play game section */
    .play-game {
        max-width: 750px;
        margin: 0 auto;
        padding: 50px;
    }

    .play-game-images .play-game-img-1 {
        width: 110%;
        object-fit: cover;
    }

    .play-game-images .play-game-img-2 {
        top: 120px;
        right: 30px;
    }

    .play-game-content {
        width: 100%;
    }

    .play-game-content h2 {
        font-size: 28px;
    }

    /* footer section */
    .footer-section .services {
        font-size: 16px;
        font-weight: 500;
    }

    .footer-section .services li {
        padding-left: 10px;
    }

    .footer-section .terms-conditions li {
        padding-left: 20px;
    }


}