/* mobile device */
@media screen and (max-width: 576px) {

    /* nav section */
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar .nav-title {
        justify-content: center;
        width: 100%;
    }

    .nav-bar .nav-container {
        flex-direction: column;
        margin-top: 30px;
    }

    .nav-container .follow-us-section {
        width: 220px;
    }

    /* banner section */
    .banner-section{
        background: none;
    }
    .banner{
        margin: 50px 0;
        gap: 50px;
        flex-direction: column-reverse;
    }
    .banner-description p {
        padding-top: 16px;
        font-size: 16px;
    }
    .banner-img img{
        width: 350px;
    }

}


/* tablet device */
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar .nav-title {
        justify-content: center;

    }

    .nav-bar .nav-container {
        margin-top: 15px;
        gap: 30px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .banner-section {
        background: none;
    }

    .banner {
        margin-top: 50px;
        gap: 50px;
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 500px;
    }

}