* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
}

/* share styles */
.title-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description-color {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    padding-top: 15px;
}

/* nav section styles */
.nav-section {
    background-color: khaki;
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.09);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-title {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-title img {
    width: 80px;
    height: 36px;
}

.nav-title h3 {
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
}

.nav-title .zo-section {
    color: #FF42A5;
}

.nav-container {
    display: flex;
    gap: 30px;
    justify-content: end;
    color: white;
    align-items: center;
    width: 50%;
}

.nav-container>a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-container .follow-us-section {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
}

.nav-container .follow-us-section i {
    margin-left: 10px;
}



/* banner section styles */
.banner-section {
    background: url("../images/banner-bg.png"), linear-gradient(223deg, rgba(140, 87, 238, 0.05) 0%, rgba(241, 68, 174, 0.05) 100%);
    background-repeat: no-repeat;
}

.banner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title h3 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
}

.banner-title h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

.banner-description p {
    padding-top: 18px;
    font-size: 18px;
}

.banner-btn .btn-sing-in {
    margin-top: 30px;
    padding: 12px 25px;
    border: 0;
    border-radius: 50px;
    background-color: #FF42A5;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-btn .btn-go-rogue {
    margin-left: 20px;
    margin-top: 30px;
    padding: 12px 25px;
    border: 0;
    border-radius: 50px;
    background-color: #4EC5F7;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-img img {
    width: 600px;
    object-fit: cover;
}



/* online games section styles */
.online-game {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.online-game-content {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.online-game-content h2 {
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
}

.online-game-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


/* hover */

.card {
    width: 280px;
    height: 350px;
    position: relative;
}

.online-game-cards .card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.card:hover img {
    filter: brightness(31%);
}

.card .play-icon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-size: cover;
    transition: transform 0.3s;
    color: aliceblue;
}

.card:hover .play-icon {
    transform: translate(-50%, -50%) scale(2.5);
}

.card .text {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-size: cover;
    transition: transform 0.3s;
    color: #FF42A5;
}

.card:hover .text {
    transform: translate(-50%, -50%) scale(1.3);
}

/* play game section styles */

.play-game {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.play-game-content {
    width: 40%;
}

.play-game-images {
    display: flex;
    align-items: center;
}

.play-game-images .play-game-img-1 {
    width: 95%;
    object-fit: cover;
}

.play-game-images .play-game-img-2 {
    width: 75%;
    object-fit: cover;
    position: relative;
    top: 180px;
    right: 130px;
}

.play-game-content h2 {
    color: #0B0223;
    font-size: 35px;
    font-weight: 700;
}


/* game-zoon section */
.game-zoon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.game-zoon .game-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 200px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
}

.game-zoon .game-group img {
    width: 20%;
    object-fit: cover;
    padding-right: 5px;
}

.game-zoon .game-group p {
    font-size: 14px;
    font-weight: 600;
}

.game-group:hover {
    border: 3px solid #FF42A5;
    color: #FF42A5;
}


/* footer section styles */
footer{
    background-color: #0B0223;
}
.footer-section {
    text-align: center;
    padding: 70px;
}

.footer-section .nav-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: white;
}

.footer-section .services,
.footer-icons,
.terms-conditions,
.copyright {
    padding-top: 30px;
}

.footer-section .services,
.terms-conditions,
.footer-icons {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-section .services {
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
}
.footer-section .services li{
    padding-left: 50px;
}

.footer-section .terms-conditions {
    color: rgba(255, 255, 255, 0.60);
    font-size: 15px;
    font-weight: 500;
}
.footer-section .terms-conditions li{
    padding-left: 50px;
}

.footer-icons li {
    color: white;
    font-size: 35px;
    padding-left: 30px;
}
.footer-section .copyright {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 400;
}